<div class="directory-div">
  <nav class="navbar navbar-inverse nav-bar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/FrontEnd/route/#/homepage">..!!..</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/FrontEnd/route/#/homepage">Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#"
            ><span class="glyphicon glyphicon-log-in"></span> Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <table class="table table-striped table-hover directory-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="person in people">
        <td>
          <a href="/FrontEnd/route/#/view/{{$index}}"
            >{{person.fname}} {{person.lname}}</a
          >
        </td>
        <td>{{person.tel}}</td>
      </tr>
    </tbody>
  </table>
</div>
